* {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: soft-light,screen;
	margin: 0;
	padding: 0;
	color: #444;
	font-family: "Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-moz-user-focus: none;
	min-height: calc(100% + 130px);
	position: relative;
}

html {
	height: 100%;
	width: 100%;
}

#body {
	padding-top: 60px;
	padding-bottom: 130px;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover,a:active {
	color: #007bff;
}

a:active {
	text-decoration: none;
}

.wt-100 {
	width: 100%;
}

.black {
	color: #000;
}

.wt-100 {
	width: 100%;
}

.ht-100 {
	height: 100%;
}

.wh-100 {
	width: 100%;
	height: 100%;
}

.h-1x {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.h-2x {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.h-3x {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.ofw {
	overflow: hidden;
}

.dpf {
	display: flex;
}

.dpn {
	display: NONE;
}

.tem p {
	text-indent: 2em;
}

.distem p {
	text-indent: 0;
}

.head {
	width: 100%;
	background: #000000c7;
	position: fixed;
	z-index: 3;
}

.hcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headnav {
	height: 50px;
	width: 95%;
	color: #fff;
	transition: all .2s ease-in-out;
}

.headlogo {
	height: 100%;
	margin: 2px;
	display: inline-block;
}

.custitle {
	color: #fff;
	display: inline-block;
	font-size: 1.75rem;
	white-space: nowrap;
}

.nav {
	float: right;
}

.nav_menu {
	list-style: none;
}

.nav_menu_lis {
	font-size: 1.0rem;
	color: #fff;
	padding: 0px 15px;
	line-height: 56px;
	transition: all .5s ease-out;
	-webkit-transition: all .3s ease-in-out;
}

.nav_menu_li {
	position: static;
	display: table-cell;
	cursor: pointer;
}

.dropdown {
	position: relative;
}

@media (min-width:992px) {
	.dropdown-menu {
		margin-top: 0;
		border-radius: 0 0 .25rem .25rem;
	}
}

@media (min-width:992px) {
	.dropdown-menu {
		position: absolute;
	}
}

.dropdown-menu {
	position: static;
	float: none;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 80%;
	left: 0;
	z-index: 1;
	font-size: 1rem;
	list-style: none;
	background-color: #44444499;
	border: 1px solid #d9e3e9;
	border-radius: .25rem;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .375rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #fff;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.nav_menu_li div:hover {
	display: block;
}

li:hover .dropdown-menu {
	display: block;
}

.top {
	margin: 1.5rem 0 1rem 0;
	width: 100%;
}

.top-right {
	margin: 1rem 0rem;
	width: 100%;
	height: 100%;
}

.slides li {
	width: 100%;
	height: 100%;
}

.slides img {
	opacity: 0.7;
}

.slides li {
	background: #000;
}

.top-right input {
	outline: none;
	box-sizing: border-box;
	padding: 8px 11px 5px 35px;
	width: 100%;
	border-radius: 15px;
	background: #fff;
}

input:focus {
	outline: none;
}

.search-icon {
	display: inline-block;
	float: left;
}

.form-group {
	position: relative;
}

.form-wrapper i.fa {
	position: absolute;
	top: 10px;
	left: 15px;
}

.top-left {
	width: 75%;
	height: 100%;
	float: left;
}

.vcenter {
	text-shadow: #110111 3px 4px 5px;
	display: inline-block;
	color: #fff;
	font-size: 2rem;
	position: absolute;
	left: 50%;
	text-align: center;
	top: 50%;
	transform: translate(-50%,-50%);
}

#topsearch {
	padding-top: 45px;
	width: 100%;
	position: fixed;
	z-index: 99;
}

.intopsearch {
	padding: 0px 10px;
	padding-top: 25px;
}

.m_mainsearch {
	border-radius: 3px;
	padding: 0 2rem;
}

.m_btn,.m_search {
	flex: 0 0 40px;
	cursor: pointer;
}

.subtitle {
	flex-grow: 1;
	color: #fff;
}

.subtitle a {
	color: #fff;
}

.m_search a {
	display: inline-block;
	color: #fff;
}

#m_search {
	display: flex;
}

.m_input {
	width: 100%;
	border: none;
	padding: 10px;
	opacity: .9;
	text-align: center;
	font-weight: bold;
	border-radius: 5px 0 0 5px;
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,select {
	text-transform: none;
}

#m_search button.submit {
	border: none;
	outline: none;
	padding: 10px;
	cursor: pointer;
	background: #448ef6;
	color: #fff;
	border-radius: 0 5px 5px 0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-;
}

.m_headnav {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	background: #000;
}

.mobile_nav {
	display: flex;
	height: 32px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.76);
}

.m_nav {
	display: flex;
	height: 32px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background: none;
}

#m_headnav {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
}

#m_side {
	position: fixed;
	width: 70%;
	height: 100%;
	background: #000;
	z-index: 100;
	overflow-y: auto;
	left: 0;
	top: 0;
	margin: 0;
	bottom: 0;
	display: block;
	will-change: transform;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
}

.children_menu_list {
	will-change: transform;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.l_side {
	transform: translateX(-100%);
}

.r_side {
	transform: translateX(0%);
}

.discoll {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.scroll-y {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.74);
	z-index: 0;
	display: none;
}

.whb {
	display: block;
	width: 100%;
	height: 100%;
}

.whb {
	display: block;
	width: 100%;
	height: 2.5rem;
}

.m_avatar {
	height: 30%;
	width: 100%;
}

.m_side_cover {
	height: 60%;
	width: 100%;
}

.m_cover_img {
	filter: brightness(0.5);
	border-radius: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(120,120,120,0.1);
}

.m_side_body {
	top: -2rem;
	box-sizing: content-box;
	position: relative;
	padding-top: 2rem;
	margin: 0 0.5rem;
	height: 40%;
	text-align: center;
	border-radius: 8px;
	background-color: #222;
	box-shadow: 0px 5px 20px 0px rgba(17,58,93,0.05);
}

.lay {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.menu ul {
	list-style: none;
}

.m_author {
	padding-top: 1.5rem;
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;
	height: 2rem;
}

.m_menu {
	top: 1rem;
	box-sizing: content-box;
	position: relative;
	margin: 0 0.5rem;
	min-height: calc(70% - 5px);
	text-align: center;
	border-radius: 8px;
	background: rgba(0,0,0,0.11);
	box-shadow: 0px 5px 20px 0px rgba(17,58,93,0.05);
}

.m_menu_list {
	box-sizing: border-box;
	padding: 1px 0;
}

.side_ul {
	list-style: none;
	padding: 1rem;
}

.side_ul {
	list-style: none;
	padding: 1rem;
}

.list_style2 {
	color: #eee;
	padding-left: 1rem;
	font-size: 1.1rem;
	margin: 4px 0;
	background: #444;
	display: flex;
	border-radius: 8px;
}

.ch-list {
	list-item: list-item;
}

.side_ul ul {
	border: 1px solid #999;
	border-width: 0px;
	overflow: hidden;
	will-change: transform;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.list_style {
	color: #eee;
	padding-right: 1rem;
	font-size: 1.1rem;
	margin: 4px 0;
	background: #444;
	display: flex;
	border-radius: 8px;
}

.list_style3 {
	color: #eee;
	font-size: 1.1rem;
	margin: 4px 0;
	background: #444;
	display: flex;
}

.list_style i,.list_style2 i {
	float: right;
	padding-top: 0.7rem;
}

.list_style a {
	display: inline-flex;
	padding-left: 1rem;
}

.dpn {
	display: none;
}

.dpb {
	display: block;
}

.m-badge {
	margin-left: 10%;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	color: #999;
	text-align: center;
	border-radius: 10px;
}

.m-tag-clould-color {
	line-height: 1.8rem;
	padding: 1px 4px;
	border-radius: 9px;
	margin: 3px 3px 3px 0;
	display: inline-block;
}

.m_dropdown {
	background: #00000070;
	margin: 2px 0;
}

.side-footer {
	background: rgba(24,23,23,0.96);
	position: sticky;
	bottom: 0;
}

.m-social {
	border-radius: 0 0 5px 5px;
	display: flex;
	text-align: center;
}

#container {
	width: 100%;
	height: 500px;
	overflow: hidden;
	box-shadow: 0 1px 9px rgba(0,0,0,.2);
}

.nav-transparent {
	background-color: transparent !important;
	background-image: none;
	box-shadow: none;
}

#cover-box {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-size: 100% 100%;
}

.top-img {
	border-radius: 8px;
}

#container2 {
	width: 100%;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 1px 9px rgba(0,0,0,.2)
}

.sections,.section,.sections2,.section2 {
	height: 100%;
}

.title {
	z-index: -1;
	width: 100%;
	height: 100%;
}

.title2 {
	margin-top: 170px;
}

.title2 h3 {
	position: relative;
	text-align: center;
	font-size: 2.3rem;
	text-shadow: 2px 5px 9px rgba(0,0,0,1);
	color: #fff;
	font-family: Roboto,"Open Sans","Microsoft YaHei","Helvetica Neue",Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.description {
	top: -5px;
	position: relative;
	font-size: 1.25rem;
	color: #eee;
}

.center-align {
	text-align: center;
}

.typed-text {
	display: none;
}

.layout_page {
	background-color: rgba(51,51,51,0.78);
	display: flow-root;
	-webkit-box-align: start;
	align-items: flex-start;
	margin: 0 auto;
	max-width: 95%;
	margin-bottom: 1rem;
}

.flex-right {
	display: inline-block;
	float: right;
	width: 25%;
	padding: 0 10px;
}

.flex-left {
	float: left;
	width: 100%;
	padding: 0 5px;
	display: inline-block;
}

.card-widget {
	color: #eee;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 8px;
	background: #1111118c;
	-webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
	box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.side-card-widget {
	color: #eee;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 8px;
	background: #222;
	-webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
	box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
}

.card-widget:hover {
	-webkit-box-shadow: 0 4px 12px 12px #ebd9d9;
	box-shadow: 0 4px 12px 12px #f3e8e824;
}

.card-info-avatar {
	text-align: center;
	padding: 5px 0;
	overflow: hidden;
}

.center {
	text-align: center;
}

#avatar-img {
	margin-top: 20px;
	padding: 5px;
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 70px;
	box-shadow: 0 0px 1px rgba(0,0,0,0.45);
	vertical-align: top;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.card-info-avatar span {
	display: none;
}

.author-info__name {
	margin: 10px;
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;
}

.card-title {
	font-size: 1rem;
	padding: 10px 15px;
	border-bottom: 1px solid #ebe9e885;
}

.side-card-title {
	font-size: 1rem;
	border-bottom: 1px solid rgba(235,233,232,0.24);
}

.card-info-avatar img:hover {
	transform: rotate(360deg);
}

.social {
	border-radius: 0 0 5px 5px;
	margin-bottom: 10px;
	display: flex;
	text-align: center;
}

.weixin,.github,.qq,.weibo,.email,.rss,.login {
	color: #eee;
	flex: auto;
	width: 25%;
	padding: 10px;
	cursor: pointer;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.tags {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	padding: 0.7rem 0;
}

.subtag {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
	min-width: 0;
}

.hot {
	width: 33%;
	height: 60px;
	margin-right: 1rem;
}

.shot {
	display: flex;
}

.hot a {
	border-radius: inherit;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	background-size: cover;
	background-color: rgba(120,120,120,0.1);
}

.hot-content {
	position: relative;
	width: 66%;
	height: 60px;
	font-size: 1rem;
}

.hot-content span {
	display: block;
	color: #fff;
	white-space: normal;
	overflow: hidden;
}

.hot-time {
	position: absolute;
	display: block;
	bottom: 1px;
}

.hot-time span {
	font-size: 0.75rem;
	color: #909497;
}

.new-comments {
	color: #999;
	font-style: italic;
}

.card-ul a {
	color: #eee;
	font-style: normal;
	font-weight: 10;
}

.badge {
	margin-left: 10%;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #eee;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #6890b2;
	border-radius: 10px;
	overflow: hidden;
}

.badge1 {
	float: right;
	margin-right: 30%;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
	overflow: hidden;
}

.card-ul ul {
	padding: 1rem;
	margin: 0;
	list-style: none;
}

.card-ul ul li {
	padding: 5px 0;
}

.card-ul ul i {
	color: #1689db;
}

.hover-color:hover {
	color: #1689db;
}

.tag-clould-color {
	white-space: nowrap;
	padding: 3px 10px 3px 10px;
	border-radius: 10px;
	margin: 3px 3px 3px 0;
	display: inline-block;
}

.tag {
	padding: 10px;
	margin: 0;
}

.content {
	width: 100%;
	overflow: hidden;
}

.topbox .left {
	float: left;
	width: 50%;
}

.strong .line-lf {
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #1689db;
	top: 14px;
	z-index: 0;
	position: absolute;
	left: 0;
}

.strong .line-rt {
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #1689db;
	top: 14px;
	z-index: 0;
	position: absolute;
}

.strong {
	display: block;
	position: relative;
	top: -10px;
	font-family: 'Times New Roman','Arial';
	font-size: 18px;
	color: #999;
	font-weight: normal;
	text-align: center;
	overflow: hidden;
}

.strong .block-rt {
	display: inline-block;
	width: 7px;
	height: 14px;
	background: linear-gradient(to left,#dae5db,#3365e3);
	position: relative;
}

.strong .block-lf {
	display: inline-block;
	width: 7px;
	height: 14px;
	background: linear-gradient(to left,#dae5db,#3365e3);
	position: relative;
}

.strong div {
	background: #1b8caf;
	position: relative;
	z-index: 2;
	padding: 0 12px;
	color: #fff;
	display: inline-block;
	padding-top: 2px;
}

.topbox {
	width: 95%;
	margin-bottom: 20px;
	white-space: nowrap;
}

.content .title {
	margin: 3rem 0 0.5rem 0;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.topbox a {
	width: 100%;
	display: inline-block;
	border: 1px solid #1689db;
	position: relative;
	margin-top: 15px;
	top: 0;
	transition: all 0.3s ease-in-out;
}

.recimg a:before {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
	transition: all 0.3s ease-in-out;
}

.recimg a:hover {
	top: -10px;
}

.cuo {
	width: 100%;
	height: 200px;
	position: relative;
	top: -15px;
	left: 12px;
	overflow: hidden;
}

.recimg a:hover .cuo img {
	transform: scale(1.08);
}

.lunboimg {
	position: relative;
	top: -15px;
	left: 12px;
}

.recimg {
	width: 50%;
	display: inline-flex;
	margin: 0.5rem;
}

.roof {
	width: 100%;
	height: 100%;
}

.roof img {
	width: 100%;
	height: 100%;
	transition: all 0.8s ease-in-out;
}

.roof-title {
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	bottom: 12px;
	left: 12px;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 600;
	width: 100%;
}

.dibu {
	height: 50px;
	width: 100%;
}

.summary {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 0 1rem;
}

.summary span {
	display: block;
	text-indent: 2em;
	color: #fff;
	white-space: normal;
	overflow: hidden;
	line-height: 1.5em;
}

.roof-time span {
	float: right;
	color: #fff;
	font-size: 12px;
	position: relative;
	top: -4px;
	margin-right: 35px;
}

.triangle {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 31px solid #1689db;
	border-left: 31px solid transparent;
	display: block;
}

.triangle b {
	width: 10px;
	height: 10px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: block;
	position: absolute;
	top: 14px;
	right: 4px;
}

.recent {
	width: 100%;
	margin-bottom: 20px;
}

.post_card {
	max-height: 200px;
	max-width: 100%;
	display: flex;
	overflow: hidden;
	box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
	border-radius: 3px;
	background: #1111118c;
	transition: all 0.3s;
	margin: 1rem 0.5rem;
	color: #eee;
}

.post_card:hover {
	-webkit-box-shadow: 0 4px 12px 12px #ebd9d9;
	box-shadow: 0 4px 12px 12px #f3e8e824;
}

.recent-left {
	max-height: 100%;
	width: 30%;
	margin: 0.5rem;
}

.recent-right {
	height: 100%;
	width: 70%;
}

.recent-left a {
	display: block;
	width: 100%;
	height: 100%;
}

.recent-content {
	border-radius: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.recent-cover,.post_card img {
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: all 0.8s ease-in-out;
}

.post_card:hover .recent-cover img {
	transform: scale(1.08);
}

.recent-body {
	background: red;
	width: 100%;
	height: 80%;
}

.recent-label {
	float: left;
	background: #1689db;
	color: #FFF;
	padding: 5px;
	border-radius: 1px;
	margin: 0.7rem 1rem;
}

.recent-label span {
	padding-right: 5px;
	color: #fff;
}

.recent-title {
	color: #fff;
	max-width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin: 0.4rem 1.5rem;
	font-size: 1.5rem;
}

.recent-desc {
	color: #eee;
	height: 6.2rem;
	margin: 1rem 1.5rem 0 1.5rem;
	text-indent: 2em;
	line-height: 2rem;
	overflow: hidden;
	display: block;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	border-bottom: 1px #ebe9e885 solid;
}

.post-detail {
	color: #bbb;
	float: right;
	margin: 10px 1.5rem;
	font-size: 1rem;
	height: 100%;
}

.post-detail span {
	margin: 0 0.5rem;
}

.recent-label i {
	padding: 0 0.7rem 0 0.5rem;
}

.m_card_title span {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-image {
	position: relative;
}

.card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
}

footer {
	font-size: 14px;
	height: 130px;
	width: 100%;
	background: rgba(0,0,0,0.86);
	color: #777;
	text-align: center;
	position: absolute;
	margin-top: -100px;
	bottom: 0;
}

.footer {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.footer a {
	color: #1689db;
}

.footer p {
	margin: 0;
	padding: 2px 0;
}

.footer p span {
	display: inline-block;
	margin: 0 5px;
}

.m_card_title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 95%;
	margin: 1rem;
	font-size: 2.2rem;
	font-weight: 300;
}

.m_recent_desc {
	color: #000;
	background: #c1b2a8;
	padding: 15px 15px 12px 18px;
	border-radius: 0 0 2px 2px;
}

.m_recent_desc span {
	text-indent: 2em;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.m_category {
	padding: 1px 4px 2px 4px;
	position: absolute;
	top: 12px;
	right: 12px;
	color: orange;
}

.m_summary {
	padding-bottom: 2px;
	padding-left: 0;
	margin-bottom: 6px;
	word-break: break-all;
}

.m_desv {
	text-indent: 2em;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.m_recimg a {
	display: inline-block;
	border-radius: 5px;
	margin-top: 0;
	border: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(120,120,120,0.1);
}

.m_title {
	color: hsla(0,0%,100%,.9);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.m_badge {
	border-radius: 2px;
	font-weight: 400;
	padding: .20em .35em;
	font-size: 12px;
	margin: 0 .40rem 0 0;
	position: relative;
	top: -1px;
	background: #448EF6;
	color: #fff;
}

.index-card {
	background: rgba(85,85,85,0.78);
	height: 100%;
	display: flex;
	overflow: hidden;
	padding: 0;
	align-items: flex-start;
	border-radius: 2px;
}

.block-image {
	display: inline-block;
	width: 30%;
	padding-top: 10px;
	padding-left: 7px;
	height: 80% !important;
}

.block-image a {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
}

.entry-header {
	width: 100%;
	height: 1.5rem;
	padding: 1.5rem 0;
}

.m_post_card {
	margin: 1rem 0;
	height: 100px;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.r-layout {
	margin-left: 0.5rem;
	padding: 0 0.5rem;
	height: 100%;
	display: inline-block;
	font-size: 1rem;
	width: 60%;
}

.cbottom {
	width: 100%;
	color: #888;
	font-size: 0.9rem;
}

.route {
	font-size: 0.8rem;
	line-height: 2rem;
	overflow: hidden;
	display: inline-block;
	border-bottom: 1px #c2b9b2 solid;
}

.post-title {
	display: inline-block;
	font-size: 1.7rem;
	margin: 0.5rem 0;
	border-bottom: none;
}

.post-tags {
	display: inline-block;
	float: right;
	padding: 0 1rem;
}

.post-tags a {
	color: #000;
}

.post,.guidang {
	color: #ccc;
	margin-top: 20px;
	background: rgba(17,17,17,0.54);
	padding: 1rem;
	border-radius: 8px;
}

.archive {
	margin: 1rem 0.5rem;
	background: rgba(17,17,17,0.55);
}

.post-ul {
	width: 100%;
	margin-top: 1rem;
	display: inline-block;
	padding-left: 0;
}

.post-meta {
	list-style: none;
}

.post-meta li {
	float: left;
	color: #bbb;
	padding-right: 1rem;
}

.post-meta li a {
	color: #bbb;
}

hr {
	margin: 10px 0px 30px;
	border: 0;
	border-top: 1px solid #ccc;
}

.post-near {
	list-style: none;
	display: block;
	word-spacing: 0.05rem;
	padding: 1rem;
	font-size: 1rem;
	color: #3474b9;
}

.pre-post {
	float: left;
	width: 50%;
}

.next-post {
	right: 1rem;
	position: absolute;
	width: 50%;
}

.page {
	padding: 0 1rem;
}

.comments {
	color: #ccc;
	margin: 1rem 0;
	background: rgba(17,17,17,0.55);
	padding: 1rem;
	border-radius: 8px;
}

.comment-children .cot-body {
	background: #27282212;
	padding-left: 50px;
}

.comment-row {
	display: flex;
}

.comment-col {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	position: relative;
	margin-bottom: 1rem;
}

.comment-form-group {
	margin-bottom: 1rem;
	margin: 0 0.5rem
}

.form-control {
	display: block;
	width: -webkit-fill-available;
	height: 1.2rem;
	padding: .45rem 0 0.45rem 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #6c757d;
	background-color: #ffffffc9;
	background-clip: padding-box;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-textarea {
	display: block;
	width: -webkit-fill-available;
	padding: .45rem 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: #6c757d;
	background-color: #ffffffc9;
	background-clip: padding-box;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
}

.comment-content {
	display: block;
	margin: 0 0.5rem;
}

.btn-primary {
	box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}

.float-right {
	float: right;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #ccc;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #121f64b5;
	border: 1px solid transparent;
	padding: .45rem .9rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .15rem;
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.comment-bottom {
	display: block;
	margin: 0.5rem;
}

.comment-list {
	list-style: none;
}

.comment-parent {
	padding: 0 1rem;
	margin: 1rem 0;
	border: 1px dashed #ebd9d987;
}

.comment-child .avatar {
	border-radius: 50%;
}

.cot-body {
	background: #978a8a1c;
	margin: 1rem 0;
	padding: 0.5rem;
}

.avatar {
	display: inline-block;
	width: 46px;
	position: relative;
	height: auto !important;
	border-radius: 5px;
	-webkit-user-select: none;
}

.comment-author {
	display: flex;
}

.mt-0 {
	border-bottom: none;
	margin: 0;
	padding-left: 0.5rem;
}

.mt-0 a {
	color: #3d85d5db;
}

.mt-0 span {
	color: #eee6;
}

.media-body {
	color: #eee6;
	position: relative;
	bottom: 3px;
	display: inline-block;
}

.media-body p {
	margin: 0;
	padding-left: 0.5rem;
}

.cot-content {
	display: flex;
	margin: 0.5rem 0;
}

.cot-content p {
	margin-left: 0.5rem;
	word-break: break-word;
}

.text-muted span {
	padding-right: 0.5rem;
}

.cot-content a {
	color: #32ff00cf;
}

#reply a {
	color: #3d85d5db;
}

.archive-title {
	padding: 1rem;
	font-size: 1.5rem;
	line-height: 100%;
	margin: 0;
}

.a-post h2 {
	padding: 1rem;
	border-bottom: none;
}

.layout-category {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.c-card {
	width: 25%;
	margin-bottom: 30px;
}

.a-post {
	position: relative;
	max-width: 100%;
	height: 100%;
	padding: 15px;
}

.c-img {
	width: 100%;
	height: 230px;
	position: relative;
}

.c-body {
	width: 100%;
	height: 40%;
}

.c-detail {
	background: #2728228f;
	width: 100%;
	height: 100%;
}

.g-page {
	margin-bottom: 1rem;
	padding: 0 1rem;
}

.a-title {
	height: 3rem;
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 600;
	width: 100%;
	background: #0000008a;
}

.a-title span {
	position: absolute;
	height: 2rem;
	bottom: 0.5rem;
	left: 0.5rem;
	font-weight: 600;
}

.a-summary {
	height: 3rem;
	padding: 1rem 0.5rem;
	text-indent: 2em;
	line-height: 1.5rem;
}

.a-bottom {
	border-top: 1px #ebe9e824 solid;
	color: #f3e8e8a8;
	padding: 0.5rem;
}

.col-btn {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.collapse:not(.show) {
	display: none
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	transition: height .35s ease
}

.guidang h3 {
	border-bottom: 1px solid #f2f2f5d9;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.card-header {
	padding: .75rem 1.5rem;
	margin-bottom: 0;
	background-color: #00000040;
	border-bottom: 0.5px solid #f2f2f573;
}

.angle {
	float: right;
}

.g-card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #ffffff30;
	background-clip: border-box;
	border: 1px solid #e3eaef;
	border-radius: .25rem;
	border: none;
	-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
	box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
	margin-bottom: 30px;
}

.noborder {
	margin: 0;
	padding: 0;
	border-bottom: none;
}

.collapsed {
	padding: 1rem 0;
	cursor: pointer;
	display: block!important;
}

.g-article {
	padding: 1rem 4rem;
}

.g-flow {
	padding-left: 1rem;
	border-left: 4px solid #a4d8fa;
}

.g-item {
	padding: 0.5rem 0 0 0.5rem;
	background: #000000a8;
	position: relative;
	margin: 1rem 0 1rem 0.5rem;
	border-radius: 8px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.g-day {
	position: absolute;
	left: calc(-2.1rem - 2px);
	top: calc(50px - 0.6rem);
	width: 1rem;
	height: 1rem;
	border: 0.2rem solid #49b1f5;
	border-radius: 0.3rem;
	background: #e7dc10;
	content: '';
	color: #08151d;
	line-height: 1rem;
	display: block;
	text-align: center;
}

.g-item:hover .g-day {
	text-align: center;
	vertical-align: middle;
	font-size: 1rem;
	position: absolute;
	left: calc(-2.45rem - 2px);
	top: calc(50px - 0.6rem);
	width: 1.5rem;
	height: 1.5rem;
	border: 0.2rem solid #49b1f5;
	border-radius: 50%;
	background: #e7dc10;
	content: '';
	color: #08151d;
	line-height: 1.5rem;
}

.g-img {
	display: inline-block;
	overflow: hidden;
}

.g-item-body {
	display: flex;
}

.g-img img {
	padding: 0;
	width: 180px;
	height: 100px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
	object-fit: cover;
}

.g-item:hover .g-img img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.g-post {
	width: 100%;
	padding: 1rem;
}

.g-content {
	padding: 0 0.5rem;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.g-fly {
	font-size: 1.1rem;
}

.g-item:hover .g-fly {
	color: #74d53dd1;
	-webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	-o-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}

.friends,.talks {
	color: #ccc;
	margin: 1rem 0;
	background: rgba(17,17,17,0.55);
	padding: 1rem;
	border-radius: 8px;
	flex-wrap: wrap;
}

.f-card {
	border: 1px solid #ececec;
	padding: 1rem;
	margin: 0.5rem;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .3s;
	transition: all .3s;
	border-radius: 10px;
	background: #27282233;
}

.f-card-1 {
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	display: block;
	border: 0.5px solid #eeeeee59;
	border-left: 3px solid #46ff008a;
	border-radius: 7px;
	padding-left: 15px;
	transition: all .3s;
}

.f-card-1:hover {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	box-shadow: 0 26px 40px -24px #c8afb36e;
}

span.sitename {
	height: 1.5rem;
	font-size: 1.4rem;
	color: orange;
	padding-bottom: 10px;
	display: block;
	-webkit-transition: all .3s;
	transition: all .3s;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.linkdes {
	height: 2rem;
	font-size: 1rem;
	color: #949494;
	padding: 10px 0;
	border-top: 1px dashed #dddddd80;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.f-img {
	box-shadow: inset 0 0 10px #000;
	padding: 5px;
	opacity: 1;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transition: all ease 1s;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	margin-top: 5px;
	padding: 2px;
	border-radius: 100%;
	height: 80px;
	width: 80px;
}

.friends-card:hover img {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg)
}

.f-title {
	border-bottom: 0.5px solid #f2f2f5d9;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.f-body {
	padding-top: calc(35px - 1.4rem);
	padding-left: 4px;
}

.friends-card {
	width: 20%;
	margin-bottom: 30px;
}

.talk-title {
	border-bottom: 0.5px solid #f2f2f5d9;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
}

.talks h4 {
	margin: 0;
	padding: 1rem 0;
}

.talk-head {
	display: flex;
	padding: 0.5rem;
}

.talk-author {
	font-size: 1.1rem;
	display: block;
	padding-bottom: 2px;
}

.talk-meta {
	padding: 0 1rem;
	padding-top: calc(24px - 1.2rem);
}

.talk-meta time {
	color: rgba(204,204,204,0.61);
	display: block;
	font-size: 0.7rem;
}

.post-content p {
	font-size: 1rem;
	margin: 2px 0;
	color: #ccc;
}

.talk-img {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.img-ctrl {
	padding-bottom: 0.5rem;
}

.talk-img img {
	width: calc(100% - 1rem);
	max-height: 400px;
}

.talk-content {
	padding: 1rem 0.5rem;
}

.talk-video {
	padding: 0.5rem;
}

.liuyan {
	height: 17rem;
	width: 100%;
	filter: brightness(0.8);
}

.mask {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: linear-gradient(180deg,rgba(0,0,0,.05) 5%,rgba(0,0,0,0.3));
}

.post-ul i {
	display: inline-block;
	width: 1.2rem;
}

#m-cover-box {
	margin-top: -32px;
}

.item-num {
	position: absolute;
	top: 12px;
	right: 12px;
	color: white;
	line-height: 1;
}

#dowebok {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
}

#dowebok li {
	width: 25%;
	list-style: none;
}

#dowebok li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.15) 0 0 8px;
	background: #FBFBFB;
	border: 1px solid #ddd;
}

.gallery {
	height: 250px;
	padding: 5px;
}

@media screen and (min-width:487px) {
	.card-image img {
		height: 300px;
	}

	.post-meta li {
		width: 30%;
	}

	.m_post_card {
		height: 130px;
	}

	.cbottom {
		padding-top: 1rem;
	}

	#m-cover-box {
		height: 250px;
	}

	.m_recimg {
		height: 150px
	}

	.c-card {
		width: 50%;
	}
}

@media screen and (min-width:487px) and (max-width:992px) {
	.gallery {
		height: 200px;
	}

	#dowebok li {
		width: 50%;
	}
}

@media screen and (max-width:487px) {
	.post-meta li {
		width: 45%;
	}

	#m-cover-box {
		height: 200px;
	}

	.m_recimg {
		height: 115px;
	}

	.c-card {
		width: 100%;
		margin-bottom: 10px;
	}

	.comment-row {
		display: block;
	}

	.comment-col {
		max-width: 100%;
	}

	.form-control {
		height: 1.5rem;
	}

	.gallery {
		height: 200px;
	}

	#dowebok li {
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	html {
		font-size: 14px;
	}

	.post-title {
		display: block;
	}

	.liuyan {
		height: 10rem;
	}

	.post-tags {
		float: none;
	}

	#headnav {
		display: none;
	}

	.intopsearch {
		max-width: 100%;
		padding-top: 10px;
	}

	.flex-right {
		display: none;
	}

	#cover-box {
		height: 200px;
	}

	.title2 {
		margin-top: 80px;
	}

	.topbox {
		width: 100%;
		margin-bottom: 20px;
		white-space: nowrap;
	}

	.vcenter {
		font-size: 1.5rem;
	}

	.in-post {
		font-size: 1.5rem;
	}

	.recimg {
		display: none;
	}

	.strong .line-lf,.strong .line-rt {
		top: 10px;
	}

	.strong .block-lf,.strong .block-rt {
		top: 1px;
	}

	.recent-title {
		margin: 0.8rem 1.5rem;
	}

	.post_card {
		display: none;
	}

	.roof-title {
		font-size: 2rem;
	}

	.hcenter {
		display: none;
	}

	#body {
		background: rgba(51,51,51,0.78);
		padding-top: 0;
		padding-bottom: 100px;
	}

	.layout_page {
		max-width: 100%;
		margin-top: 30px;
	}

	.top {
		margin: 0rem 0 1rem 0;
	}
z
	.card-image img {
		height: 150px;
	}

	.m_recent_desc {
		color: #eee;
		background: rgba(17,17,17,0.54);
	}

	.m_post_detail {
		background-color: rgba(17,17,17,0.54);
		border-top: 0.5px solid #f2f2f573;
	}

	.card-image img {
		filter: brightness(0.8);
		border-radius: 8px 8px 0 0 !important;
	}

	flex-control-paging li a {
		width: 5px;
		height: 5px;
		background: #666;
		background: rgba(255,255,255,0.84);
	}

	.top {
		display: none;
	}

	#cover-box {
		display: none;
	}

	#im-cover-box {
		height: 140px;
	}

	.m_recimg {
		margin-bottom: 0px;
		width: 50%;
		display: inline-block;
	}

	.post {
		margin-top: 10px;
		padding: 5px;
	}

	#avatar-img {
		margin-top: 0;
		padding: 5px;
		display: inline-block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	.friends-card {
		width: 50%;
	}

	.talks {
		padding: 0.5rem;
	}

	.f-card {
		margin: 0 4px;
	}

	.page {
		padding: 0 0.5rem;
	}

	.friends {
		padding: 5px;
	}

	.f-card {
		padding: 0.5rem;
	}

	.f-img {
		height: 60px;
		width: 60px;
	}

	.f-body {
		padding-top: 0;
	}

	.g-day {
		top: calc(45px - 0.6rem);
		height: 1.2rem;
		width: 1.2rem;
		line-height: 1.3rem;
		text-align: center;
		left: calc(-2.3rem - 2px);
	}

	.g-post {
		padding: 0;
	}

	.g-img img {
		width: 120px;
		height: 80px;
	}

	.vcenter {
		top: calc(50% + 14px);
	}

	#main {
		padding-top: 10px;
	}

	.comment-children .cot-body {
		background: #27282212;
		padding-left: 30px;
	}

	.comment-parent {
		padding: 0 5px;
	}

	.comments {
		padding: 0.5rem;
	}
}

@media screen and (min-width:768px) {
	.m_nav {
		display: none;
	}

	.m_side {
		display: none;
	}

	.post-meta li {
		width: auto;
	}

	.flex-left {
		flex: 0 0 75%;
		max-width: 75%;
	}

	#m_headnav {
		display: none;
	}

	.m_post_card {
		display: none;
	}

	.intopsearch {
		margin: 0 15%;
		padding: 0px 10px;
		padding-top: 25px;
	}

	#m-cover-box {
		display: none;
	}

	.m_recimg {
		display: none;
	}

	.layout_page,.headnav {
		max-width: 100%;
	}

	#im-cover-box {
		display: none;
	}

	.c-card {
		width: 33.33%;
	}

	.friends-card {
		width: 33.33%;
	}
}

@media screen and (min-width:992px) {
	.friends-card {
		width: 25%;
	}
}

@media screen and (min-width:993px) and (max-width:1200px) {
	.gallery {
		height: 220px;
	}

	#dowebok li {
		width: 33.33%;
	}
}

@media screen and (max-width:992px) {
	.g-page {
		padding: 0;
	}

	.guidang {
		padding: 0.5rem;
	}

	.g-article {
		padding: 0 1rem;
	}
}

@media screen and (min-width:1200px) {
	.c-card {
		width: 25%;
	}

	.layout_page,.headnav {
		max-width: 85%;
	}

	.friends-card {
		width: 20%;
	}
}